body {
  width: 100%;
  height: auto;
  background-color: var(--primary-color-background);
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* HERO SECTION */
.hero {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* padding: 80px 120px 0 120px; */
}

.hero-main-container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-profile-container {
  padding-top: 80px;
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  /* max-width: 750px;
  max-height: 530px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("../assets/components/hero-section/photo-bg-default.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
  cursor: pointer;
  /* vertical-align: bottom; */
}

.hero-profile-container::before {
  position: absolute;
  top: 115;
  left: 0;
  width: 90%;
  height: 80%;
  content: "";
  background-image: url("../assets/components/hero-section/photo-bg-default.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.hero-profile-container:hover::before {
  background-image: url("../assets/components/hero-section/photo-bg-hover.png");
  background-size: contain;
}

/* .hero-profile-container img:nth-of-type(1) {
  position: absolute;
  transform: rotate(-45deg);
  top: 60px;
  left: 10px;
  width: 90%;
  height: 110%;
} */

.hero-profile-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* position: absolute;
  top: -25px;
  left: 9%; */
  /* width: 100%; */
}

/* .hero-profile-container img:nth-of-type(2) {
  top: 0;
} */

.hero-content-container {
  flex: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
  /* vertical-align: bottom; */
  position: relative;
}

.hero-social-media-container {
  position: absolute;
  top: 64px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.hero-social-media-container img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero-social-media-container img:hover#email {
  content: url("../assets/components/hero-section/icons/email-hover-blue.svg");
}

.hero-social-media-container img:hover#github {
  content: url("../assets/components/hero-section/icons/git-hover-blue.svg");
}

.hero-social-media-container img:hover#linkedin {
  content: url("../assets/components/hero-section/icons/linkedIn-hover-blue.svg");
}

.logo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.logo-content .hero-logo {
  cursor: pointer;
  transition: transform 400ms ease-in-out;
  /* filter 200ms ease-in-out; */
}

.logo-content .hero-logo:hover {
  content: url("../assets/components/hero-section/icons/Logo-hover.svg");
  transform: scaleX(1.02);
  /* filter: drop-shadow(0 0 10px rgba(60, 116, 251, 0.45)); */
}

.logo-content .dev-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--secondary-text-color-light);
}

.logo-content .dev-role {
  color: var(--text-blue-color);
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  text-transform: lowercase;
}

.text-content {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content .name {
  font-size: 78px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--secondary-text-color-light);
  /* letter-spacing: 1px; */
}

.text-content .role {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--secondary-text-color-light);
  margin: 16px 0 120px;
}

.arrow-down {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrow-down img:hover#arrow-down {
  content: url("../assets/components/hero-section/icons/arrow-down-hover.svg");
}

/* HEADER SECTION*/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-blue-color);
  z-index: 100;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-dev-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--secondary-text-color-light);
}

.header-dev-role {
  color: var(--primary-color-background);
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-transform: lowercase;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 32px; */
}

.header-menu nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.header-menu nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.header-menu nav ul .header-link {
  list-style-type: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  cursor: pointer;
  color: var(--primary-color-text-dark);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.header-menu nav ul .header-link.active {
  color: var(--secondary-text-color-light);
}

.header-menu nav ul .header-link.active::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  width: 150%;
  height: 170%;
  content: "";
  background-image: url("../assets/components/header/ecliipse-header-menu.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.header-menu nav .header-link:hover {
  color: var(--secondary-text-color-light);
}

.lang-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.lang-switcher a {
  text-decoration: none;
  color: var(--primary-color-text-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.lang-switcher a:hover {
  color: var(--secondary-text-color-light);
}

.lang-switcher a.active::before {
  position: absolute;
  top: -4px;
  left: -6px;
  width: 140%;
  height: 110%;
  content: "";
  background-image: url("../assets/components/header/eliipse-lang-active.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-2deg);
}

.lang-switcher a.active {
  color: var(--secondary-text-color-light);
  pointer-events: none;
}

/* ABOUT ME SECTION */

.about-me {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-container {
  width: 1200px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  scroll-margin-top: 100px;
  /* margin-top: 380px; */
}

.section-title {
  margin-top: 24px;
  color: var(--text-blue-color);
  font-size: 60px;
  font-weight: 400;
  text-transform: capitalize;
}

.about-me-context {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 480px;
  flex: 1;
}

.about-me-text .text {
  color: var(--secondary-text-color-light);
  line-height: 140%;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 24px;
}

/* .about-me-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-blue-color);
  background-color: var(--primary-color-background);
  border: 1px solid var(--text-blue-color);
  padding: 14px 28px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.about-me-button:hover {
  background-color: var(--button-hover-background);
} */

.about-me-animation {
  width: 480px;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.about-me-animation.hidden {
  visibility: hidden;
}

.about-me-typing {
  color: var(--text-blue-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.about-me-typing:nth-of-type(2) {
  color: var(--secondary-text-color-light);
}

/* SKILLS SECTION */

.skills {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container {
  width: 1200px;
  /* height: calc(100% - 150px); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 65px;
  scroll-margin-top: 100px;
}

.skills-context {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 55px;
}

.skills-context .skills-icons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 85px);
  /* grid-template-rows: repeat(2, 100px); */
  gap: 30px;
  place-items: center;
}

.bubble-text {
  flex: 1;
  width: 400px;
  height: 400px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.bubble-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../assets/components/skills/skills-bg-hover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.bubble-text:hover::before {
  background-image: url("../assets/components/skills/skills-bg-default.png");
  background-size: contain;
}

/* .bubble {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bubble img {
  width: 100%;
  height: 100%;
}

.bubble:hover img {
  content: url("../assets/components/skills/skills-bg-default.png");
} */

.skill-text {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.skill-text p {
  color: var(--secondary-text-color-light);
  font-size: 18px;
  font-weight: 400;
}

.skill-text .in-progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* width: 100%; */
  height: auto;
}

.in-progeress-skills {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  /* height: 100px; */
}

.in-progeress-skills img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.in-progeress-skills .text-explanation {
  color: var(--secondary-text-color-light);
  font-size: 14px;
  font-weight: 400;
}

/* PROJECTS */

.projects {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.projects-container {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 65px;
  scroll-margin-top: 100px;
}

.projects-context {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(137, 188, 217, 0.07);
}

.project-names {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.project-name-tab {
  color: var(--text-blue-color);
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.project-visit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.project-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.project-poster {
  width: 450px;
  height: 300px;
}

.project-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* REFERENCE */

.references {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reference-container {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 65px;
  scroll-margin-top: 100px;
}

.reference-title {
  color: var(--text-blue-color);
  font-size: 30px;
  font-weight: 400;
}

.bubble-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.bubble-content {
  width: 400px;
  height: 400px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.bubble-content::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../assets/components/reference/bubble-bg-default.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.bubble-content:hover::before {
  background-image: url("../assets/components/reference/bubble-bg-hover.png");
  background-size: contain;
}

.ref-name {
  color: var(--secondary-text-color-light);
  font-size: 26px;
  font-weight: 600;
}

.ref-project {
  color: var(--secondary-text-color-light);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
}

.ref-link {
  color: var(--text-blue-color);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.ref-comment {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 253, 253, 1);
  text-align: center;
  max-width: 290px;
  margin-bottom: 48px;
}

.ref-comment-link {
  color: var(--text-blue-color);
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.ref-comment-link:hover {
  color: var(--secondary-text-color-light); /* funktioniert nicht !!*/
}

/* CONTACT SECTION */

.contact {
  width: 1440px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-container {
  width: 1200px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 65px;
  scroll-margin-top: 100px;
  padding: 0 120px;
  margin-bottom: 160px;
}

.contact-me-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact-text {
  flex: 1;
  color: var(--secondary-text-color-light);
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 120%;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  color: var(--secondary-text-color-light);
  font-size: 20px;
  font-weight: 400;
}

.contact-info span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact-info .contact-email:hover {
  color: var(--text-blue-color);
  opacity: 0.8;
}

.contact-info .contact-email:hover img {
  content: url("../assets/components/contact/🦆\ icon\ _email_hover.svg");
}

/* .contact-info .contact-email.contact-email:active {
  color: var(--text-blue-color);
}

.contact-info .contact-email:active img {
  content: url("../assets/components/contact/🦆\ icon\ _email_clicked.svg.svg");
} */

.contact-info .contact-phone:hover {
  color: var(--text-blue-color);
  opacity: 0.8;
}

.contact-info .contact-phone:hover img {
  content: url("../assets/components/contact/🦆\ icon\ _phone_hover.svg");
}

.contact-me-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 8px; */
}

.inputs label {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-blue-color);
  margin-left: 20px;
}

.inputs input {
  border: 1px solid var(--text-blue-color);
  height: 60px;
  border-radius: 30px;
  width: 100%;
  background-color: transparent;
  padding: 20px;
}

.inputs input:focus-within {
  background-color: var(--shape-bg-hover);
  outline: none;
  color: var(--secondary-text-color-light);
  font-family: "josefin sans";
  font-size: 18px;
  font-weight: 400;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.message-container input {
  height: 145px;
  padding: 20px;
  border: 1px solid var(--text-blue-color);
  background-color: transparent;
}

.message-container input:focus-within {
  background-color: var(--shape-bg-hover);
  outline: none;
  color: var(--secondary-text-color-light);
  font-family: "josefin sans";
  font-size: 18px;
  font-weight: 400;
}

/* .message-container input:focus {
  background-color: var(--shape-bg-hover);
  border: 1px solid var(--text-blue-color);
} */

.privacy-policy {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
}

.privacy-msg-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.privacy-policy input[type="checkbox"] {
  display: none;
}

.privacy-policy input[type="checkbox"]:checked + .privacy-policy-text::before {
  background-image: url("../assets/components/contact/checkbox-checked.svg");
}

.privacy-policy input[type="checkbox"]:hover + .privacy-policy-text::before {
  background-image: url("../assets/components/contact/checkbox-hover.svg");
}

.privacy-policy-text {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color-light);
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.privacy-policy-text::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-2deg);
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("../assets/components/contact/checkbox-default.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.privacy-policy-text a {
  text-decoration: none;
  color: var(--text-blue-color);
}

.error-msg {
  visibility: hidden;
  color: var(--error-color);
}

/* FOOTER */

footer {
  width: 100%;
  height: 200px;
  background-color: var(--text-blue-color);
  display: flex;
  justify-content: center;
}

.footer-content-container {
  width: 1440px;
  height: 100%;
  padding: 50px 80px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.legal-notice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--primary-color-text-dark);
  gap: 16px;
}

.legal-notice a {
  text-decoration: none;
  color: var(--primary-color-text-dark);
  opacity: 0.8;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.legal-notice a:hover {
  color: var(--btn-diactive-color);
}

.legal-notice a:active {
  color: var(--secondary-text-color-light);
}

.legal-notice span {
  color: var(--primary-color-text-dark);
  font-size: 18px;
  font-weight: 400;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-dev-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--secondary-text-color-light);
}

.footer-dev-role {
  color: var(--primary-color-background);
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-transform: lowercase;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-media a {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-in-out;
}

.footer-social-media img:hover#footer-git {
  content: url("../assets/components/footer/git-hover-white.svg");
}

.footer-social-media img:hover#footer-email {
  content: url("../assets/components/footer/email-hover-white.svg");
}

.footer-social-media img:hover#footer-linkedIn {
  content: url("../assets/components/footer/linkedIn-hover-white.svg");
}

.footer-social-media a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
